# Dépendances
node_modules/
.pnp
.pnp.js

# Production (fichiers générés)
build/
dist/
target/

# Environnement (SÉCURITÉ : ne jamais partager tes clés API)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Système et Editeurs
.DS_Store
.vscode/
.idea/
Thumbs.db