# --- DÉPENDANCES ---
# Ignore les dossiers node_modules à la racine, dans /client et dans /server
node_modules/

# --- PRODUCTION / BUILDS ---
# On ignore les dossiers de compilation (React utilise souvent build ou dist)
client/build/
client/dist/
server/dist/
server/build/

# --- CONFIG / SÉCURITÉ ---
# On ne push JAMAIS les secrets (clés API, login DB)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
# Sauf le fichier exemple s'il existe
!.env.example

# --- LOGS ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- SYSTÈME & IDE ---
.DS_Store
.vscode/
.idea/
Thumbs.db